<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Register-page</title>
</head>
<body>
  <div>
    <img src="https://images.unsplash.com/photo-1672479560554-557d48fe07be?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Ym95JTIwc3Vuc2V0fGVufDB8fDB8fHww" alt="" class="image-control">
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Make Account to see more</p>
  <form action="/register" method="post">
      <input type="email" placeholder="Email" name="email" class="detail" /><br />

      <input type="text" placeholder="username" name="username" class="detail" /><br />

      <input type="text" placeholder="fullname" name="fullname" class="detail" /><br />

      <input type="password" placeholder="Password"  name="password" class="detail" />
        <input type="submit" class="btn int" value="Register Account">
  </form>
  
      <footer>
       
        <hr />
        <a href="/login">Already on Pinterest ? login</p>
      </footer>
    </div>
  </div>
  </div>
</body>
</html>