
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Login-page</title>
</head>

<body>
  <div>
    <img src="https://images.unsplash.com/photo-1658243951880-74c0265c7742?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="image-control">
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Login Account to see more</p>
      <form action="/login" method="post">
        <input type="text" placeholder="username" name="username" class="detail" /><br />

        <input type="password" placeholder="Password" name="password" class="detail" />
        <input type="submit" class="btn int" value="Login My Account">
      </form>
      <a href="/password">Forgot your password?</a>

      
      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/">  Click Here Register </a>
      </footer>
    </div>
  </div>
  </div>
</body>

</html>